{:deps
 {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
  io.github.seancorfield/build-uber-log4j2-handler {:git/tag "v2.21.0" :git/sha "ca04c71"}
  slipset/deps-deploy {:mvn/version "0.2.2"}}}
